body {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
  }
  .navbar-brand {
    font-family: "Raleway", sans-serif;
        
  }
.card-body{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

.card-img-top {
  max-height: 100px;
}
